* {
	color: blue;
	font-family: Courier New, Courier, monospace;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}


.wallpaper {

	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_corkboard-hd-wallpapers.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;

	padding-top: 20px;

	border: 1px solid brown;

	z-index: -3;
}

.list {
	width: 550px;
	height: 712px;
	
	margin: auto;
	padding-top: 20px;

	background: url('https://dl.dropboxusercontent.com/u/263968982/home-writing-paper-thumb.jpg');
	background-repeat: no-repeat;

}


.heading {
	float: right;
	font-size: 24px;
	margin-right: 20%;
}

#title {
	margin-left: 90px;
}

.tack {
	width: 100px;
	height: 94px;
	
	margin-top: 5px;
}

.paper {
	
	margin-top: 4.5%;
	margin-left: 15%;
	margin-bottom: 15px;

	width: 450px;

}

.list ul {
	text-align: center;
	
	margin-top: 4%;
	margin-left: 30%;
	margin-bottom: 15px;

	min-width: 300px;+

	text-transform: capitalize;
}

.button {
	height: 19px;
	vertical-align: middle;

	border-radius: 2px;
	border: 0px;

	background-color: #E0E0E0;
}

input {
	
	height: 12px;
	width: 225px;

	vertical-align: middle;

	border: 2px dashed lightblue;

}


.items {
	margin-top: 90px;
}

.menu, li {
	padding-top: 2px;
	text-align: left;
}

.complete {
	text-decoration: line-through ;
	color: darkgray;

	list-style: none;
}

.delete {

	margin-left: 10px;
	vertical-align: middle;

	border-radius: 2px;
	border: 0px;

	height: 19px;
	width: 130px;

	opacity: 0.8;

	background-color: #3366FF;
	color: white;
}

.instructions {
	margin-top: 4.4%;
	margin-left: 12%;

	width: 300px;

	background-color: yellow;
}